<div>
  Boutique
</div>

{% schema %}
  {
    "name": "Boutique Cave Exclusive",
    "settings": [],
    "presets": [
        {
          "name": "Boutique Cave Exclusive"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
