<div class=" max-w-[1200px] w-full  mx-auto">

  <p class="text-center w-full text-black font-sans text-[24px] font-bold py-20 ">Nos abonnements te permettent de découvrir nos vins ainsi que les artistes qui nous ont accompagnés dans la conception de celui-ci.</p>
</div>

<div class="max-w-content mx-auto px-[24px] flex items-center">
  <img src="{{ 'custom-box-month.png' | asset_img_url: '1024x' }}" alt="Pack de Bouteilles" width="1024" height="700" loading="lazy" class="w-[60%] -translate-x-[54px]"/>
  <div class="relative space-y-[16px] -translate-x-[130px]">
    <h3 class="text-[40px] uppercase text-dark font-bold">
      La box 16
    </h3>
    <h4 class="text-[40px] text-dark font-serif">
      MOONWINE x ETIENNE
      <br>
      FORT x VITORIA VILELA</h4>
    <div class="flex space-x-[24px] font-medium">
      <a class="px-[28px] py-[8px] bg-red rounded-full text-white" href="#">Découvrir la box du mois</a>
    </div>


  </div>
</div>

{% schema %}

{
  "name": "Box du mois",
  "settings": [],
  "presets": [
    {
      "name": "Box du mois"
    }
  ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}



{% endjavascript %}
