<div class=" py-20 bg-green-light">
  <div class="absolute -top-7 left-[48%]">
    <img src="{{ 'custom-small-moon.png' | asset_img_url: '1920x' }}" alt="moonwine" width="60" height="60" loading="lazy" class="h-20 w-auto"/>
  </div>
  <div class="flex flex-col text-gray-dark m-auto max-w-4xl px-6 mt-10">
    <p class="text-center">En t’abonnant à notre newsletter, découvre toutes nos nouveautés, nos offres promotionnelles et plus encore.</p>
    <div class="flex justify-between mt-10 border-b border-gray-dark">
      <input class="focus:outline-none  text-gray-dark   flex w-full focus:shadow-none bg-transparent py-2 " placeholder="Entrer votre email"/>
      <button class=" ">OK</button>
    </div>
  </div>
</div>

{% schema %}

{
  "name": "Newsletter Moonwine",
  "tag": "section",
  "class": "relative",
  "settings": [],
  "presets": [
    {
      "name": "Newsletter Moonwine"
    }
  ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}



{% endjavascript %}
