<div class="py-56 bg-green-light">
  <p>En t’abonnant à notre newsletter, découvre toutes nos nouveautés, nos offres promotionnelles et plus encore.</p>
</div>

{% schema %}
  {
    "name": "Newsletter Moonwine",
  	"tag": "section",
    "settings": [],
  "presets": [
    {
      "name": "Newsletter Moonwine"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
