<div class="max-w-content mx-auto px-[24px] flex items-center">
  <img
    src="{{ 'custom-bottles-pack.png' | asset_img_url: '1024x' }}"
    alt="Pack de Bouteilles"
    width="1024"
    height="700"
    loading="lazy"
    class="w-[60%] -translate-x-[54px]"
  />
  <div class="relative space-y-[16px] -translate-x-[40px]">
    <h3 class="text-[56px] text-dark font-serif">Le vin est une <br /> magnifique <br /> expression culturelle</h3>
    <div class="flex space-x-[24px] font-medium">
      <a href="#" class="px-[32px] py-[12px] bg-red rounded-full text-white">Découvrir nos boxs</a>
      <a href="#" class="px-[32px] py-[12px] border border-gray-dark rounded-full">Découvrir les artistes</a>
    </div>
    <span class="absolute -top-[56px] -left-[24px]">
      <svg width="59" height="41" viewBox="0 0 59 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.4" d="M40.9856 13.726C41.8196 13.5724 42.5667 13.3906 43.326 13.2996C51.1084 12.3541 57.974 17.7486 58.9009 25.5231C59.9509 34.3058 52.4249 41.8883 43.6268 40.9145C37.1469 40.1972 32.1067 35.2796 31.3192 28.786C30.9194 25.4887 31.3778 22.2359 32.2925 19.0537C33.8494 13.6371 37.0298 9.35381 41.5813 6.10096C46.0318 2.92085 51.0135 0.975204 56.3929 0.0276337C56.4737 0.0134926 56.5564 0.00540924 56.6715 0.037735C50.1896 3.13501 44.7173 7.37583 40.9876 13.726H40.9856Z" fill="#D9D7B1"/>
        <path opacity="0.4" d="M25.502 0.000362396C19.0342 3.12794 13.58 7.36472 9.82411 13.7169C10.0382 13.6926 10.1472 13.6967 10.2502 13.6684C17.1845 11.7652 24.4015 15.4564 26.9498 22.2127C29.7567 29.6518 25.6696 38.0081 18.077 40.366C9.86046 42.9157 1.28852 37.4788 0.157709 28.9608C-0.207785 26.213 0.109247 23.4815 0.688787 20.7862C1.44199 17.2809 2.88377 14.0967 5.08884 11.2459C6.82747 8.99519 8.90331 7.14046 11.2396 5.55243C15.5125 2.64507 20.2538 0.935806 25.3061 0.0124855C25.3707 0.000362396 25.4374 0.00440216 25.504 0.00238037L25.502 0.000362396Z" fill="#D9D7B1"/>
      </svg>
    </span>
    <span class="absolute top-[42px] -right-[24px]">
      <svg width="59" height="42" viewBox="0 0 59 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.4" clip-path="url(#clip0_116_8011)">
          <path d="M18.0146 14.0617C17.1807 13.9044 16.4335 13.7182 15.6743 13.625C7.89188 12.6564 1.02625 18.1825 0.0993901 26.1466C-0.950648 35.1435 6.5753 42.911 15.3734 41.9134C21.8533 41.1787 26.8935 36.1411 27.6811 29.4891C28.0809 26.1114 27.6225 22.7792 26.7077 19.5195C25.1509 13.9707 21.9705 9.58295 17.419 6.25076C12.9684 2.99308 7.98679 0.999985 2.60736 0.0293045C2.52659 0.0148163 2.4438 0.00653458 2.3287 0.03965C8.81066 3.21247 14.283 7.55673 18.0126 14.0617H18.0146Z" fill="#D9D7B1"/>
          <path d="M33.4983 0.000419617C39.9661 3.20428 45.4202 7.5444 49.1761 14.0515C48.9621 14.0266 48.853 14.0308 48.7501 14.0018C41.8158 12.0522 34.5988 15.8335 32.0504 22.7545C29.2436 30.375 33.3307 38.9352 40.9232 41.3505C49.1398 43.9625 57.7117 38.393 58.8425 29.6672C59.208 26.8524 58.891 24.0542 58.3115 21.2933C57.5583 17.7024 56.1165 14.4406 53.9114 11.5203C52.1728 9.21463 50.0969 7.31467 47.7606 5.6879C43.4878 2.70963 38.7464 0.958679 33.6941 0.0128365C33.6295 0.000419617 33.5629 0.00455856 33.4962 0.00248718L33.4983 0.000419617Z" fill="#D9D7B1"/>
        </g>
        <defs>
          <clipPath id="clip0_116_8011">
            <rect width="59" height="42" fill="white" transform="matrix(1 0 0 -1 0 42)"/>
          </clipPath>
        </defs>
      </svg>
    </span>
  </div>
</div>

{% schema %}
{
  "name": "Pack de Bouteilles",
  "tag": "section",
  "limit": 1,
  "presets": [
    {
      "name": "Pack de Bouteilles"
    }
  ]
}
{% endschema %}